export KUBECONFIG=$PWD/infra/kubeconfig
export TALOSCONFIG=$PWD/infra/talosconfig

# Автоматично перевіряємо і оновлюємо IP в kubeconfig при вході в каталог
./bin/kubectl cluster-info >/dev/null 2>&1

# Автоматична перевірка авторизації Google Cloud
ADC_FILE="$HOME/.config/gcloud/application_default_credentials.json"
if [ ! -f "$ADC_FILE" ]; then
    echo "⚠️ GCP Credentials не знайдено. Запускаю авторизацію..."
    gcloud auth application-default login
fi

if [ -f .envrc.local ]; then
    source_env .envrc.local
fi
