export KUBECONFIG=$PWD/infra/kubeconfig
export TALOSCONFIG=$PWD/infra/talosconfig

# Автоматична перевірка авторизації Google Cloud
ADC_FILE="$HOME/.config/gcloud/application_default_credentials.json"
if [ ! -f "$ADC_FILE" ]; then
    echo "⚠️ GCP Credentials не знайдено. Запускаю авторизацію..."
    gcloud auth application-default login
fi
