# .gitignore
# Локальні директорії Terraform
.terraform/

# Файли стану (можуть містити паролі у відкритому вигляді!)
*.tfstate
*.tfstate.*

# Файли зі змінними, де ви будете тримати токени
*.tfvars
*.tfvars.json

# Файли конфігурації Talos (вони містять ключі кластера)
*.yaml
!talos-config.yaml # якщо захочете зафіксувати лише шаблон